<h2>ようこそ鹿児島大学新歓まとめサイトへ</h2>

<hr>

<% if @memos.count >= 1 %>
    <div class="row">
        <%@memos.each do |memo|%>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-info ">
                    <% memo_category_id =memo.category_id%>
                    <a href ="/categories/<%=memo_category_id%>" class ="text-white"><%= memo.category.name%></a>
                    <div class ="buttons">
                        <a href ="/memos/<%=memo.id%>" data-method ="delete"><span class ="fa fa-trash text-white"></span></a> 
                        <a href ="/memos/<%=memo.id%>/edit"> <span class ="fa fa-edit text-white"></span></a>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><%=memo.title%></h4>
                    <p class="card-text"><%=memo.body%></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    <% end %>
    </div>
<% else%>
    <p>新歓情報がありません。新しく新歓情報を追加しますか？</p>
    <a href ="/new">新歓情報を追加する。（新入生は不可）</a>
<%end%>


