<hr>
<h1>新規新歓情報　追加画面</h1>
<hr>

<%= form_tag ("/create") do %>
    <div class="alert alert-danger" role="alert">
      サークル名：<%=current_user.name%>で追加します
    </div>
    <div class="form-group">
        <%= label_tag "form_title" ,"イベントタイトル"%>
        <%=text_field :memos,:title, id:"form_title",class:"form-control",placeholder:"(例)　公園でBBQ!!" %>
    </div>
    <div class="form-group">
        <%= label_tag "form_body" ,"ひとこと"%>
        <%=text_field :memos,:body, id:"form_body" ,class:"form-control",placeholder:"(例)　無料で焼肉食べれるよ"%>
    </div>
    <div class="form-group">
    <%= label_tag "form-category" ,"新歓のジャンル"%>
    <%= select_tag 'memos[category_id]',options_from_collection_for_select(@categories, :id,:name),id:"form-category" ,class:"form-control" %>
    </div>
    <div class="form-group">
    <%= label_tag "form-day" ,"開催日"%>
    <%= date_field :memos, :day ,id:"form_day",class:"form-control"%>
    </div>
    <div class="form-group">
    <%= label_tag "form-time" ,"開始時間"%>
    <%= text_field :memos, :times ,id:"form_time",class:"form-control",placeholder:"(例)　18:00"%>
    </div>
    <div class="form-group">
    <%= label_tag "form-place" ,"開始場所"%>
    <%= text_field :memos, :place ,id:"form_place",class:"form-control",placeholder:"(例)　立て看前" %>
    </div>
    <div class="form-group">
        <%= submit_tag "送信" ,class:"btn btn-primary"%>
    </div>
<% end %>